body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: tan;
}

header {
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 0.8rem;
    /*padding-right: 75px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*header.otsikko{*/
/*    text-align: center;*/
/*}*/

header .logo-container {
    margin-right: auto;
}

header .company-logo {
    max-height: 60px; /* Adjust the max-height as needed */
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
    font-size: 1rem; /* Adjust the font size as needed */
    padding-left: 25px;
    padding-top: 15px;
}

section {
    text-align: center;
    padding: 2rem;
}

.otsikko {
    font-family: Copperplate, Papyrus, fantasy ;
    text-decoration: none;
    color: black;
    margin: 0 0.5rem;
    font-size: 2rem; /* Adjust the font size as needed */
    /*padding-right: 60px;*/
    padding-bottom: 15px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.img-fluid {
    width: 750px; /* Adjust the width of the images */
    height: auto;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

