/* Add custom CSS styles for the Contact page here */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: tan;
}

header {
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-container {
    margin-right: auto;
}

header .company-logo {
    max-height: 60px; /* Adjust the max-height as needed */
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
    font-size: 1rem; /* Adjust the font size as needed */
    padding-left: 25px;
    padding-top: 15px;
}

section {
    text-align: center;
    padding: 2rem;
}

section h2 {
    margin-bottom: 2rem;
}

.card {
    display: inline-block;
    margin: 0 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 200px; /* Adjust the width as needed */
    background-color: antiquewhite;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    max-height: 150px; /* Adjust the max-height as needed */
    padding-top: 20px;
}

.card-body {
    padding: 1rem;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
